/* Global */

:root {
  --apeach-body-white: #fff;
  --apeach-body-gray: #bcbcbc;
  --apeach-head-pink: #ecc1c6;
  --apeach-dark-pink: #dba6ae;
  --apeach-eye: #5f474b;
  --apeach-cheek: #e2727c;
  --apeach-mouth-in: #8d3538;
  --apeach-mouth-border: #712228;
  --cherry-blossom: #f4d9d8;
  --cherry-blossom-border: #e3b6bb;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.apeach {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 600px;
  position: relative;
  margin: 0 auto;
}
.apeach:after {
  content: ' ';
  /* opacity: 0.5; */
  position: relative;
  left: -100px;
  transform: scale(2, 2.5);
}

.head {
  position: absolute;
  width: 300px;
  height: 300px;
  border: 5px solid var(--apeach-dark-pink);
  transform: rotate(-40deg) skewX(9deg);
  border-radius: 150px 20px 150px 180px;
  background-color: var(--apeach-head-pink);
}

.eye-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 39%;
}

.eye {
  background-color: var(--apeach-eye);
  border-radius: 12%;
  /* width: 56px; */
  width: 3.6em;
  height: 40px;
  /* margin: 0 32px; */
  margin: 0 2em;
}

/* 눈 모양 좀더 반달모양처럼 위아래 곡선효과 주기 */

/* .eye .additional {
  background-color: var(--apeach-eye);
  width: 58px;
  height: 6px;
  position: absolute;
  bottom: 0;
} */

/* .eye.left {
}

.eye.right {
} */

.eye.left > .twinkle-large {
  background-color: var(--apeach-body-white);
  width: 22px;
  height: 18px;
  position: absolute;
  top: 6px;
  /* left: 41px; */
  left: 2.75em;
  border-radius: 38%;
  filter: blur(0.8px);
}

.eye.right > .twinkle-large {
  background-color: var(--apeach-body-white);
  width: 22px;
  height: 18px;
  position: absolute;
  top: 6px;
  right: 3.45em;
  border-radius: 38%;
  filter: blur(0.8px);
}

.eye.left > .twinkle-small {
  background-color: var(--apeach-body-white);
  width: 13px;
  height: 9px;
  position: absolute;
  bottom: 4px;
  /* left: 66px; */
  left: 4.1em;
  border-radius: 35%;
  filter: blur(0.8px);
}

.eye.right > .twinkle-small {
  background-color: var(--apeach-body-white);
  width: 13px;
  height: 9px;
  position: absolute;
  bottom: 4px;
  /* right: 41px; */
  right: 2.7em;
  border-radius: 35%;
  filter: blur(0.8px);
}

.cheek-wrapper-left {
  display: flex;
  position: absolute;
  top: 47%;
  left: 9.8em;
}

.cheek-wrapper-left > .cheek {
  z-index: 1;
  background-color: var(--apeach-cheek);
  width: 6px;
  height: 21px;
  margin: 0 7px;
  transform: rotate(40deg);
}

.cheek-wrapper-right {
  display: flex;
  position: absolute;
  top: 47%;
  right: 9.8em;
  filter: blur(1px);
}

.cheek-wrapper-right > .cheek {
  z-index: 1;
  background-color: var(--apeach-cheek);
  width: 6px;
  height: 21px;
  margin: 0 7px;
  transform: rotate(40deg);
}

.mouth {
  position: absolute;
  /* bottom: 238px; */
  bottom: 14.8em;
  background-color: var(--apeach-mouth-in);
  width: 150px;
  height: 70px;
  border: 4px solid var(--apeach-mouth-border);
  border-radius: 30px 30px 82px 82px;
}

.teeth {
  position: absolute;
  bottom: 2.75em;
  right: 55px;
  width: 35px;
  height: 18px;
  border-radius: 0 0 12px 12px;
  background-color: var(--apeach-body-white);
}

.body {
  width: 7.16em;
  height: 90px;
  background-color: var(--apeach-body-white);
  border-left: 6px solid var(--apeach-body-gray);
  border-right: 6px solid var(--apeach-body-gray);
  position: absolute;
  top: 73%;
}

.leg {
  width: 60px;
  height: 60px;
  background-color: var(--apeach-body-white);
  border-left: 5px solid var(--apeach-body-gray);
  border-right: 5px solid var(--apeach-body-gray);
  border-bottom: 5px solid var(--apeach-body-gray);
  position: absolute;
  top: 83%;
  border-radius: 0 0 100% 100%;
}

.leg.left {
  left: 15.2em;
}
.leg.right {
  right: 15.2em;
  z-index: 1;
}

.leg.left:before {
  content: '';
  width: 16px;
  background-color: var(--apeach-body-white);
  border-top: 4px solid var(--apeach-body-gray);
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 0 100%;
}

.arm {
  width: 36px;
  height: 90px;
  background-color: var(--apeach-body-white);
  border-left: 6px solid var(--apeach-body-gray);
  border-bottom: 6px solid var(--apeach-body-gray);
  position: absolute;
  bottom: 16%;
  z-index: -1;
}

.arm.left {
  left: 13.3em;
  transform: rotate(8deg);
  border-radius: 70% 0 16% 50%;
}

.arm.right {
  right: 13.3em;
  transform: scaleX(-1) rotate(8deg);
  border-radius: 70% 0 16% 50%;
}
