/* animation */

/* fadein animation */
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(0) scale(1);
  }
  to {
    opacity: 0.65;
    transform: translate(-90px, -18px) scale(1.05);
  }
}

/* shadow animation */

/* 머리 animation */
@keyframes head-bounce {
  from {
    transform: rotate(-40deg) skewX(9deg);
  }
  to {
    transform: rotate(-40deg) skewX(9.5deg) skewY(2.8deg);
  }
}
@keyframes shadow-head-bounce {
  from {
    transform: rotate(-40deg) skewX(9deg);
  }
  to {
    transform: rotate(-40deg) skewX(9.5deg) skewY(2.8deg);
  }
}

/* 눈 animation */
@keyframes large-eye-left {
  from {
    width: 1.25em;
    height: 1em;
    top: 0.375em;
    left: 2.75em;
  }
  to {
    width: 0.8125em;
    height: 0.5625em;
    top: 0.375em;
    left: 2.75em;
  }
}
@keyframes shadow-large-eye-left {
  from {
    width: 1.75em;
    height: 1.4em;
    top: 0.525em;
    left: 3.85em;
  }
  to {
    width: 1.1375em;
    height: 0.7875em;
    top: 0.525em;
    left: 3.85em;
  }
}

@keyframes small-eye-left {
  from {
    width: 0.8125em;
    height: 0.5625em;
    bottom: 0.25em;
    left: 3.85em;
  }
  to {
    width: 20px;
    height: 1em;
    bottom: 0.25em;
    left: 3.85em;
  }
}
@keyframes shadow-small-eye-left {
  from {
    width: 1.1375em;
    height: 0.7875em;
    bottom: 0.35em;
    left: 5.39em;
  }
  to {
    width: 28px;
    height: 1.4em;
    bottom: 0.35em;
    left: 5.39em;
  }
}

@keyframes large-eye-right {
  from {
    width: 20px;
    height: 1em;
    top: 0.375em;
    right: 3.7em;
  }
  to {
    width: 0.8125em;
    height: 0.5625em;
    top: 0.375em;
    right: 3.7em;
  }
}
@keyframes shadow-large-eye-right {
  from {
    width: 28px;
    height: 1.4em;
    top: 0.525em;
    right: 5.18em;
  }
  to {
    width: 1.1375em;
    height: 0.7875em;
    top: 0.525em;
    right: 5.18em;
  }
}

@keyframes small-eye-right {
  from {
    width: 0.8125em;
    height: 0.5625em;
    bottom: 0.25em;
    right: 2.7em;
  }
  to {
    width: 1.25em;
    height: 1em;
    bottom: 0.25em;
    right: 2.7em;
  }
}
@keyframes shadow-small-eye-right {
  from {
    width: 1.1375em;
    height: 0.7875em;
    bottom: 0.35em;
    right: 3.78em;
  }
  to {
    width: 1.75em;
    height: 1.4em;
    bottom: 0.35em;
    right: 3.78em;
  }
}

/* 볼 animation */
@keyframes cheek-motion {
  from {
    filter: blur(1px);
  }
  to {
    filter: blur(6px);
  }
}

/* 입 animation */
@keyframes small-mouth {
  from {
    border-radius: 30px 30px 82px 82px;
    width: 3.75em;
    height: 2.0625em;
    bottom: 17.5em;
  }
  to {
    border-radius: 50px 50px 86px 86px;
    width: 8.4375em;
    height: 3.875em;
    bottom: 15.5em;
  }
}
@keyframes shadow-small-mouth {
  from {
    border-radius: 30px 30px 82px 82px;
    width: 5.25em;
    height: 2.8875em;
    bottom: 24.5em;
  }
  to {
    border-radius: 50px 50px 86px 86px;
    width: 11.8125em;
    height: 5.425em;
    bottom: 21.7em;
  }
}

@keyframes big-mouth {
  from {
    border-radius: 50px 50px 86px 86px;
    width: 8.4375em;
    height: 3.875em;
    bottom: 15.5em;
  }
  to {
    border-radius: 30px 30px 82px 82px;
    width: 3.75em;
    height: 2.0625em;
    bottom: 17.5em;
  }
}
@keyframes shadow-big-mouth {
  from {
    border-radius: 50px 50px 86px 86px;
    width: 11.8125em;
    height: 5.425em;
    bottom: 21.7em;
  }
  to {
    border-radius: 30px 30px 82px 82px;
    width: 5.25em;
    height: 2.8875em;
    bottom: 24.5em;
  }
}

@keyframes small-teeth {
  from {
    border-radius: 0 0 9px 9px;
    width: 1.125em;
    height: 0.5em;
    bottom: 1em;
    right: 1em;
  }
  to {
    border-radius: 0 0 13px 13px;
    width: 2.1875em;
    height: 1em;
    bottom: 2.22em;
    right: 2.6875em;
  }
}
@keyframes shadow-small-teeth {
  from {
    border-radius: 0 0 9px 9px;
    width: 1.575em;
    height: 0.7em;
    bottom: 1.5em;
    right: 1.4em;
  }
  to {
    border-radius: 0 0 13px 13px;
    width: 3.0625em;
    height: 1.4em;
    bottom: 3.25em;
    right: 3.7625em;
  }
}

@keyframes big-teeth {
  from {
    border-radius: 0 0 13px 13px;
    width: 2.1875em;
    height: 1em;
    bottom: 2.22em;
    right: 2.6875em;
  }
  to {
    border-radius: 0 0 9px 9px;
    width: 1.125em;
    height: 0.5em;
    bottom: 1em;
    right: 1em;
  }
}
@keyframes shadow-big-teeth {
  from {
    border-radius: 0 0 13px 13px;
    width: 3.0625em;
    height: 1.4em;
    bottom: 3.25em;
    right: 3.7625em;
  }
  to {
    border-radius: 0 0 9px 9px;
    width: 1.575em;
    height: 0.7em;
    bottom: 1.5em;
    right: 1.4em;
  }
}

/* 팔 animation */
@keyframes arms-moving-left {
  from {
    left: 18.62em;
    transform: rotate(8deg);
    border-radius: 70% 0 16% 50%;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  }
  to {
    left: 18.62em;
    transform: rotate(24deg);
    border-radius: 70% 0 16% 50%;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  }
}

@keyframes arms-moving-right {
  from {
    right: 18.62em;
    transform: scaleX(-1) rotate(8deg);
    border-radius: 70% 0 16% 50%;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  }
  to {
    right: 18.62em;
    transform: scaleX(-1) rotate(24deg);
    border-radius: 70% 0 16% 50%;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  }
}

/* Global */
:root {
  /* color */
  --apeach-body-white: #fff;
  --apeach-body-gray: #bcbcbc;
  --apeach-head-pink: #ecc1c6;
  --apeach-dark-pink: #dba6ae;
  --apeach-eye: #5f474b;
  --apeach-cheek: #e2727c;
  --apeach-mouth-in: #8d3538;
  --apeach-mouth-border: #712228;
  --cherry-blossom: #f4d9d8;
  --cherry-blossom-border: #ee848e;

  /* animation */
  --eye-duration: 0.25s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #cceeff;
}

/* container */
.container {
  position: relative;
  width: 75em;
  height: 70em;
  margin: 0 auto;
  /* display: flex; */
}

/* apeach */
.apeach {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37.5em;
  height: 37.5em;
  margin: 12.5em auto;
  position: absolute;
  left: 40%;
  z-index: 1;
}
/* apeach-shadow */
.apeach-shadow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52.5em;
  height: 52.5em;
  position: absolute; /* 다시 보긔 */
  left: 25%;
  bottom: 5.4%;
  margin: 15em auto;
  opacity: 0.5;
  animation: fadein 4s infinite normal;
  animation-timing-function: ease;
}

/* head */
.apeach .head {
  position: absolute;
  width: 18.75em;
  height: 18.75em;
  border: 5px solid var(--apeach-dark-pink);
  transform: rotate(-40deg) skewX(9deg);
  border-radius: 9.375em 1.25em 9.375em 11.25em;
  background-color: var(--apeach-head-pink);
  animation: head-bounce 1s infinite alternate;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
}
.apeach-shadow .head {
  position: absolute;
  width: 24.5em;
  height: 24em;
  border: 7px solid var(--apeach-dark-pink);
  transform: rotate(-40deg) skewX(9deg);
  border-radius: 10.5em 1.5em 10.5em 12em;
  background-color: var(--apeach-head-pink);
  animation: shadow-head-bounce 1s infinite alternate;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
}

/* eye */
.eye-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 39%;
}

.apeach .eye.left:before {
  content: '';
  width: 3em;
  border: 3.6px solid var(--apeach-eye);
  position: absolute;
  top: -0.0875em;
  left: 2.1em;
  border-radius: 100% 100% 30% 30%;
  background-color: var(--apeach-eye);
}
.apeach-shadow .eye.left:before {
  content: '';
  width: 4.2em;
  border: 5.04px solid var(--apeach-eye);
  position: absolute;
  top: -0.1225em;
  left: 2.94em;
  border-radius: 100% 100% 30% 30%;
  background-color: var(--apeach-eye);
}

.apeach .eye.left:after {
  content: '';
  width: 3em;
  border: 3.6px solid var(--apeach-eye);
  position: absolute;
  top: 2.125em;
  left: 2.1em;
  border-radius: 100% 100% 30% 30%;
  background-color: var(--apeach-eye);
}
.apeach-shadow .eye.left:after {
  content: '';
  width: 4.2em;
  border: 5.04px solid var(--apeach-eye);
  position: absolute;
  top: 2.975em;
  left: 2.94em;
  border-radius: 100% 100% 30% 30%;
  background-color: var(--apeach-eye);
}

.apeach .eye.right:before {
  content: '';
  width: 3em;
  border: 3.6px solid var(--apeach-eye);
  position: absolute;
  top: -0.0875em;
  right: 2.1em;
  border-radius: 100% 100% 30% 30%;
  background-color: var(--apeach-eye);
}
.apeach-shadow .eye.right:before {
  content: '';
  width: 4.2em;
  border: 5.04px solid var(--apeach-eye);
  position: absolute;
  top: -0.1225em;
  right: 2.94em;
  border-radius: 100% 100% 30% 30%;
  background-color: var(--apeach-eye);
}

.apeach .eye.right:after {
  content: '';
  width: 3em;
  border: 3.6px solid var(--apeach-eye);
  position: absolute;
  top: 2.125em;
  right: 2.1em;
  border-radius: 100% 100% 30% 30%;
  background-color: var(--apeach-eye);
}
.apeach-shadow .eye.right:after {
  content: '';
  width: 4.2em;
  border: 5.04px solid var(--apeach-eye);
  position: absolute;
  top: 2.975em;
  right: 2.94em;
  border-radius: 100% 100% 30% 30%;
  background-color: var(--apeach-eye);
}

.apeach .eye {
  background-color: var(--apeach-eye);
  border-radius: 32%;
  width: 3.6em;
  height: 2.5em;
  margin: 0 2em;
}
.apeach-shadow .eye {
  background-color: var(--apeach-eye);
  border-radius: 32%;
  width: 5.04em;
  height: 3.5em;
  margin: 0 2.8em;
}

.apeach .eye.left > .twinkle-large {
  background-color: var(--apeach-body-white);
  position: absolute;
  width: 1.25em;
  height: 1em;
  top: 0.375em;
  left: 2.75em;
  border-radius: 45%;
  filter: blur(0.7px);
  animation: large-eye-left 0.5s infinite alternate;
  animation-timing-function: ease;
}
.apeach-shadow .eye.left > .twinkle-large {
  background-color: var(--apeach-body-white);
  position: absolute;
  width: 1.75em;
  height: 1.4em;
  top: 0.525em;
  left: 3.85em;
  border-radius: 45%;
  filter: blur(0.7px);
  animation: shadow-large-eye-left var(--eye-duration) infinite alternate;
  animation-timing-function: ease;
}

.apeach .eye.right > .twinkle-large {
  background-color: var(--apeach-body-white);
  position: absolute;
  width: 1.25em;
  height: 1em;
  top: 0.375em;
  right: 3.7em;
  border-radius: 45%;
  filter: blur(0.7px);
  animation: large-eye-right 0.5s infinite alternate;
  animation-timing-function: ease;
}
.apeach-shadow .eye.right > .twinkle-large {
  background-color: var(--apeach-body-white);
  position: absolute;
  width: 1.75em;
  height: 1.4em;
  top: 0.525em;
  right: 5.18em;
  border-radius: 45%;
  filter: blur(0.7px);
  animation: shadow-large-eye-right var(--eye-duration) infinite alternate;
  animation-timing-function: ease;
}

.apeach .eye.left > .twinkle-small {
  background-color: var(--apeach-body-white);
  position: absolute;
  width: 0.8125em;
  height: 0.5625em;
  bottom: 0.25em;
  left: 4.1em;
  border-radius: 45%;
  filter: blur(0.7px);
  animation: small-eye-left 0.5s infinite alternate;
  animation-timing-function: ease;
}
.apeach-shadow .eye.left > .twinkle-small {
  background-color: var(--apeach-body-white);
  position: absolute;
  width: 1.1375em;
  height: 0.7875em;
  bottom: 0.35em;
  left: 5.74em;
  border-radius: 45%;
  filter: blur(0.7px);
  animation: shadow-small-eye-left var(--eye-duration) infinite alternate;
  animation-timing-function: ease;
}

.apeach .eye.right > .twinkle-small {
  background-color: var(--apeach-body-white);
  position: absolute;
  width: 0.8125em;
  height: 0.5625em;
  bottom: 0.25em;
  right: 2.7em;
  border-radius: 45%;
  filter: blur(0.7px);
  animation: small-eye-right 0.5s infinite alternate;
  animation-timing-function: ease;
}
.apeach-shadow .eye.right > .twinkle-small {
  background-color: var(--apeach-body-white);
  position: absolute;
  width: 1.1375em;
  height: 0.7875em;
  bottom: 0.35em;
  right: 3.78em;
  border-radius: 45%;
  filter: blur(0.7px);
  animation: shadow-small-eye-right var(--eye-duration) infinite alternate;
  animation-timing-function: ease;
}

/* cheek */
.apeach .cheek-wrapper-left {
  display: flex;
  position: absolute;
  top: 47%;
  left: 9.8em;
  filter: blur(1px);
  /* animation: cheek-motion 4s infinite normal;
  animation-timing-function: ease; */
}
.apeach-shadow .cheek-wrapper-left {
  display: flex;
  position: absolute;
  top: 47%;
  left: 13.72em;
  filter: blur(1px);
  animation: cheek-motion 4s infinite normal;
  animation-timing-function: ease;
}

.apeach .cheek-wrapper-left > .cheek {
  z-index: 1;
  background-color: var(--apeach-cheek);
  width: 0.375em;
  height: 1.3125em;
  margin: 0 0.4375em;
  transform: rotate(40deg);
}
.apeach-shadow .cheek-wrapper-left > .cheek {
  z-index: 1;
  background-color: var(--apeach-cheek);
  width: 0.525em;
  height: 1.8375em;
  margin: 0 0.6125em;
  transform: rotate(40deg);
}

.apeach .cheek-wrapper-right {
  display: flex;
  position: absolute;
  top: 47%;
  right: 9.8em;
  filter: blur(1px);
  /* animation: cheek-motion 4s infinite normal;
  animation-timing-function: ease; */
}
.apeach-shadow .cheek-wrapper-right {
  display: flex;
  position: absolute;
  top: 47%;
  right: 13.72em;
  filter: blur(1px);
  animation: cheek-motion 4s infinite normal;
  animation-timing-function: ease;
}

.apeach .cheek-wrapper-right > .cheek {
  z-index: 1;
  background-color: var(--apeach-cheek);
  width: 0.375em;
  height: 1.3125em;
  margin: 0 0.4375em;
  transform: rotate(40deg);
}
.apeach-shadow .cheek-wrapper-right > .cheek {
  z-index: 1;
  background-color: var(--apeach-cheek);
  width: 0.525em;
  height: 1.8375em;
  margin: 0 0.735em;
  transform: rotate(40deg);
}

/* 입 크게 벌렸을 때 */
.apeach .mouth {
  position: absolute;
  background-color: var(--apeach-mouth-in);
  border: 0.25em solid var(--apeach-mouth-border);
  border-radius: 50px 50px 86px 86px;
  width: 8.4375em;
  height: 3.875em;
  bottom: 15.5em;
  /* animation: big-mouth 1s infinite alternate;
  animation-timing-function: ease-in-out; */
}
.apeach-shadow .mouth {
  position: absolute;
  background-color: var(--apeach-mouth-in);
  border: 0.35em solid var(--apeach-mouth-border);
  border-radius: 50px 50px 86px 86px;
  width: 11.8125em;
  height: 5.425em;
  bottom: 21.7em;
  animation: shadow-big-mouth 1s infinite alternate;
  animation-timing-function: ease-in-out;
}

.apeach .teeth {
  position: absolute;
  background-color: var(--apeach-body-white);
  border-radius: 0 0 13px 13px;
  width: 2.1875em;
  height: 1em;
  bottom: 2.22em;
  right: 2.6875em;
  /* animation: big-teeth 1s infinite alternate;
  animation-timing-function: ease-in-out; */
}
.apeach-shadow .teeth {
  position: absolute;
  background-color: var(--apeach-body-white);
  border-radius: 0 0 13px 13px;
  width: 3.0625em;
  height: 1.4em;
  bottom: 3.108em;
  right: 3.7625em;
  animation: shadow-big-teeth 1s infinite alternate;
  animation-timing-function: ease-in-out;
}

/* 입 작게 벌렸을 때 */
.apeach .mouth {
  position: absolute;
  background-color: var(--apeach-mouth-in);
  border: 0.25em solid var(--apeach-mouth-border);
  border-radius: 30px 30px 82px 82px;
  width: 3.75em;
  height: 2.0625em;
  bottom: 17.5em;
  /* animation: small-mouth 1s infinite alternate;
  animation-timing-function: ease-in-out; */
}
.apeach-shadow .mouth {
  position: absolute;
  background-color: var(--apeach-mouth-in);
  border: 0.35em solid var(--apeach-mouth-border);
  border-radius: 30px 30px 82px 82px;
  width: 5.25em;
  height: 2.8875em;
  bottom: 24.5em;
  animation: shadow-small-mouth 1s infinite alternate;
  animation-timing-function: ease-in-out;
}

.apeach .teeth {
  position: absolute;
  background-color: var(--apeach-body-white);
  border-radius: 0 0 9px 9px;
  width: 1.125em;
  height: 0.5em;
  bottom: 1em;
  right: 1em;
  /* animation: small-teeth 1s infinite alternate;
  animation-timing-function: ease-in-out; */
}
.apeach-shadow .teeth {
  position: absolute;
  background-color: var(--apeach-body-white);
  border-radius: 0 0 9px 9px;
  width: 1.575em;
  height: 0.7em;
  bottom: 1.4em;
  right: 1.4em;
  animation: shadow-small-teeth 1s infinite alternate;
  animation-timing-function: ease-in-out;
}

/* body */
.apeach .body {
  width: 7.16em;
  height: 5.625em;
  background-color: var(--apeach-body-white);
  border-left: 0.375em solid var(--apeach-body-gray);
  border-right: 0.375em solid var(--apeach-body-gray);
  position: absolute;
  top: 73%;
}
.apeach .body:after {
  content: '';
  background-color: var(--apeach-body-white);
  position: absolute;
  top: -22%;
  width: 6.3em;
  height: 1.5em;
  z-index: -1;
}
.apeach-shadow .body {
  width: 10.024em;
  height: 7.875em;
  background-color: var(--apeach-body-white);
  border-left: 0.525em solid var(--apeach-body-gray);
  border-right: 0.525em solid var(--apeach-body-gray);
  position: absolute;
  top: 73%;
}
.apeach-shadow .body:after {
  content: '';
  background-color: var(--apeach-body-white);
  position: absolute;
  top: -29%;
  width: 8.9em;
  height: 3em;
  z-index: -1;
}

/* leg */
.apeach .leg {
  width: 3.75em;
  height: 3.75em;
  background-color: var(--apeach-body-white);
  border-left: 0.3125em solid var(--apeach-body-gray);
  border-right: 0.3125em solid var(--apeach-body-gray);
  border-bottom: 0.3125em solid var(--apeach-body-gray);
  position: absolute;
  top: 83%;
  border-radius: 0 0 100% 100%;
}
.apeach-shadow .leg {
  width: 5.25em;
  height: 5.25em;
  background-color: var(--apeach-body-white);
  border-left: 0.525em solid var(--apeach-body-gray);
  border-right: 0.525em solid var(--apeach-body-gray);
  border-bottom: 0.525em solid var(--apeach-body-gray);
  position: absolute;
  top: 83%;
  border-radius: 0 0 100% 100%;
}

.apeach .leg.left {
  left: 15.2em;
  box-shadow: 2px 2px 0 1px rgba(0, 0, 0, 0.2);
}
.apeach-shadow .leg.left {
  left: 21.28em;
  box-shadow: 2px 2px 0 1px rgba(0, 0, 0, 0.2);
}

.apeach .leg.right {
  right: 15.2em;
  z-index: 1;
  box-shadow: 2px 2px 0 1px rgba(0, 0, 0, 0.2);
}
.apeach-shadow .leg.right {
  right: 21.28em;
  z-index: 1;
  box-shadow: 2px 2px 0 1px rgba(0, 0, 0, 0.2);
}

.apeach .leg.left:before {
  content: '';
  width: 1em;
  background-color: var(--apeach-body-white);
  border-top: 0.25em solid var(--apeach-body-gray);
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 0 100%;
}
.apeach-shadow .leg.left:before {
  content: '';
  width: 1.4em;
  background-color: var(--apeach-body-white);
  border-top: 0.35em solid var(--apeach-body-gray);
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 0 100%;
}

/* arm */
.apeach .arm {
  width: 2.25em;
  height: 5.625em;
  background-color: var(--apeach-body-white);
  border-left: 0.375em solid var(--apeach-body-gray);
  border-bottom: 0.375em solid var(--apeach-body-gray);
  position: absolute;
  bottom: 16%;
  z-index: -1;
}
.apeach-shadow .arm {
  width: 3.15em;
  height: 7.875em;
  background-color: var(--apeach-body-white);
  border-left: 0.525em solid var(--apeach-body-gray);
  border-bottom: 0.525em solid var(--apeach-body-gray);
  position: absolute;
  bottom: 16%;
  z-index: -1;
}

.apeach .arm.left {
  left: 13.3em;
  transform: rotate(8deg);
  border-radius: 70% 0 16% 50%;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
}
.apeach-shadow .arm.left {
  left: 18.62em;
  transform: rotate(8deg);
  border-radius: 70% 0 16% 50%;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  animation: arms-moving-left 0.2s infinite alternate;
  animation-timing-function: ease-in;
}

.apeach .arm.right {
  right: 13.3em;
  transform: scaleX(-1) rotate(8deg);
  border-radius: 70% 0 16% 50%;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
}
.apeach-shadow .arm.right {
  right: 18.62em;
  transform: scaleX(-1) rotate(8deg);
  border-radius: 70% 0 16% 50%;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  animation: arms-moving-right 0.2s infinite alternate;
  animation-timing-function: ease-in;
}

/* cherry blossom */

.flowers {
  display: flex;
  position: relative;
}
.flower {
  background-color: var(--cherry-blossom);
  width: 3.6em;
  height: 3.6em;
  border-radius: 50%;
  filter: blur(1px);
}

/* one */
.flower1,
.flower2,
.flower3,
.flower4 {
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
}
.flower5 {
  top: 1.5em;
  left: 1.5em;
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
}

.flower1 {
  top: 0;
  left: 0;
  border: 5px solid var(--cherry-blossom-border);
  border-right: none;
  border-bottom: none;
}
.flower2 {
  top: 0;
  left: 3em;
  border: 5px solid var(--cherry-blossom-border);
  border-left: none;
  border-bottom: none;
}
.flower3 {
  top: 3em;
  border: 5px solid var(--cherry-blossom-border);
  border-top: none;
  border-right: none;
}
.flower4 {
  top: 3em;
  left: 3em;
  border: 5px solid var(--cherry-blossom-border);
  border-left: none;
  border-top: none;
}

.flowers.one {
  animation: blossom-one 3s infinite normal;
  animation-timing-function: ease-in-out;
}

/* two */
.flower6,
.flower7,
.flower8,
.flower9 {
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
}
.flower10 {
  top: 6.5em;
  left: 1.5em;
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
}

.flower6 {
  top: 5em;
  left: 0;
  border: 5px solid var(--cherry-blossom-border);
  border-right: none;
  border-bottom: none;
}
.flower7 {
  top: 5em;
  left: 3em;
  border: 5px solid var(--cherry-blossom-border);
  border-left: none;
  border-bottom: none;
}
.flower8 {
  top: 8em;
  left: 0;
  border: 5px solid var(--cherry-blossom-border);
  border-top: none;
  border-right: none;
}
.flower9 {
  top: 8em;
  left: 3em;
  border: 5px solid var(--cherry-blossom-border);
  border-left: none;
  border-top: none;
}

.flowers.two {
  animation: blossom-two 2s infinite normal;
  animation-timing-function: ease;
}

/* three */
.flower11,
.flower12,
.flower13,
.flower14 {
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
}
.flower15 {
  top: 11.5em;
  left: 1.5em;
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
}

.flower11 {
  top: 10em;
  left: 0;
  border: 5px solid var(--cherry-blossom-border);
  border-right: none;
  border-bottom: none;
}
.flower12 {
  top: 10em;
  left: 3em;
  border: 5px solid var(--cherry-blossom-border);
  border-left: none;
  border-bottom: none;
}
.flower13 {
  top: 13em;
  left: 0;
  border: 5px solid var(--cherry-blossom-border);
  border-top: none;
  border-right: none;
}
.flower14 {
  top: 13em;
  left: 3em;
  border: 5px solid var(--cherry-blossom-border);
  border-left: none;
  border-top: none;
}

.flowers.three {
  animation: blossom-two 2s infinite normal;
  animation-timing-function: ease-in;
}

/* four */
.flower16,
.flower17,
.flower18,
.flower19 {
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
}
.flower20 {
  top: 13.5em;
  left: 1.5em;
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
}

.flower16 {
  top: 12em;
  left: 0;
  border: 5px solid var(--cherry-blossom-border);
  border-right: none;
  border-bottom: none;
}
.flower17 {
  top: 12em;
  left: 3em;
  border: 5px solid var(--cherry-blossom-border);
  border-left: none;
  border-bottom: none;
}
.flower18 {
  top: 15em;
  left: 0;
  border: 5px solid var(--cherry-blossom-border);
  border-top: none;
  border-right: none;
}
.flower19 {
  top: 15em;
  left: 3em;
  border: 5px solid var(--cherry-blossom-border);
  border-left: none;
  border-top: none;
}

.flowers.four {
  animation: blossom-four 3s infinite normal;
  animation-timing-function: ease;
}

/* five */
.flower21,
.flower22,
.flower23,
.flower24 {
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
}
.flower25 {
  top: 21.5em;
  left: 1.5em;
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
}

.flower21 {
  top: 20em;
  left: 0;
  border: 5px solid var(--cherry-blossom-border);
  border-right: none;
  border-bottom: none;
}
.flower22 {
  top: 20em;
  left: 3em;
  border: 5px solid var(--cherry-blossom-border);
  border-left: none;
  border-bottom: none;
}
.flower23 {
  top: 23em;
  left: 0;
  border: 5px solid var(--cherry-blossom-border);
  border-top: none;
  border-right: none;
}
.flower24 {
  top: 23em;
  left: 3em;
  border: 5px solid var(--cherry-blossom-border);
  border-left: none;
  border-top: none;
}

.flowers.five {
  animation: blossom-five 2.4s infinite normal;
  animation-timing-function: ease;
}

/* six */
.flower26,
.flower27,
.flower28,
.flower29 {
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
}
.flower30 {
  top: 27.5em;
  left: 1.5em;
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
}

.flower26 {
  top: 26em;
  left: 0;
  border: 5px solid var(--cherry-blossom-border);
  border-right: none;
  border-bottom: none;
}
.flower27 {
  top: 26em;
  left: 3em;
  border: 5px solid var(--cherry-blossom-border);
  border-left: none;
  border-bottom: none;
}
.flower28 {
  top: 29em;
  left: 0;
  border: 5px solid var(--cherry-blossom-border);
  border-top: none;
  border-right: none;
}
.flower29 {
  top: 29em;
  left: 3em;
  border: 5px solid var(--cherry-blossom-border);
  border-left: none;
  border-top: none;
}

.flowers.six {
  animation: blossom-six 2.8s infinite normal;
  animation-timing-function: ease-in-out;
}

/* seven */
.flower31,
.flower32,
.flower33,
.flower34 {
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
}
.flower35 {
  top: 33.5em;
  left: 1.5em;
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
}

.flower31 {
  top: 32em;
  left: 0;
  border: 5px solid var(--cherry-blossom-border);
  border-right: none;
  border-bottom: none;
}
.flower32 {
  top: 32em;
  left: 3em;
  border: 5px solid var(--cherry-blossom-border);
  border-left: none;
  border-bottom: none;
}
.flower33 {
  top: 35em;
  left: 0;
  border: 5px solid var(--cherry-blossom-border);
  border-top: none;
  border-right: none;
}
.flower34 {
  top: 35em;
  left: 3em;
  border: 5px solid var(--cherry-blossom-border);
  border-left: none;
  border-top: none;
}

.flowers.seven {
  animation: blossom-seven 3.6s infinite normal;
  animation-timing-function: ease-in;
}

/* eight */
.flower36,
.flower37,
.flower38,
.flower39 {
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
}
.flower40 {
  top: 39.5em;
  left: 1.5em;
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
}

.flower36 {
  top: 38em;
  left: 0;
  border: 5px solid var(--cherry-blossom-border);
  border-right: none;
  border-bottom: none;
}
.flower37 {
  top: 38em;
  left: 3em;
  border: 5px solid var(--cherry-blossom-border);
  border-left: none;
  border-bottom: none;
}
.flower38 {
  top: 41em;
  left: 0;
  border: 5px solid var(--cherry-blossom-border);
  border-top: none;
  border-right: none;
}
.flower39 {
  top: 41em;
  left: 3em;
  border: 5px solid var(--cherry-blossom-border);
  border-left: none;
  border-top: none;
}

.flowers.eight {
  animation: blossom-eight 2.7s infinite normal;
  animation-timing-function: ease;
}

/* nine */
.flower41,
.flower42,
.flower43,
.flower44 {
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
}
.flower45 {
  top: 0.5em;
  left: 1.5em;
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
}

.flower41 {
  top: -1em;
  left: 0;
  border: 5px solid var(--cherry-blossom-border);
  border-right: none;
  border-bottom: none;
}
.flower42 {
  top: -1em;
  left: 3em;
  border: 5px solid var(--cherry-blossom-border);
  border-left: none;
  border-bottom: none;
}
.flower43 {
  top: 2em;
  left: 0;
  border: 5px solid var(--cherry-blossom-border);
  border-top: none;
  border-right: none;
}
.flower44 {
  top: 2em;
  left: 3em;
  border: 5px solid var(--cherry-blossom-border);
  border-left: none;
  border-top: none;
}

.flowers.nine {
  animation: blossom-nine 3.1s infinite normal;
  animation-timing-function: ease-in-out;
}

/* ten */
.flower46,
.flower47,
.flower48,
.flower49 {
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
}
.flower50 {
  top: 19.5em;
  left: 1.5em;
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
}

.flower46 {
  top: 18em;
  left: 0;
  border: 5px solid var(--cherry-blossom-border);
  border-right: none;
  border-bottom: none;
}
.flower47 {
  top: 18em;
  left: 3em;
  border: 5px solid var(--cherry-blossom-border);
  border-left: none;
  border-bottom: none;
}
.flower48 {
  top: 21em;
  left: 0;
  border: 5px solid var(--cherry-blossom-border);
  border-top: none;
  border-right: none;
}
.flower49 {
  top: 21em;
  left: 3em;
  border: 5px solid var(--cherry-blossom-border);
  border-left: none;
  border-top: none;
}

.flowers.ten {
  animation: blossom-ten 2.9s infinite normal;
  animation-timing-function: ease;
}

/* 벚꽃 animation */
@keyframes blossom-one {
  from {
    left: 0px;
    transform: scale(0.7) translateX(-28em) translateY(5em);
  }
  to {
    left: 100%;
    transform: scale(0.7) translateY(35em);
  }
}

@keyframes blossom-two {
  from {
    left: 0px;
    transform: scale(0.9) translateX(-20em) translateY(12em);
  }
  to {
    left: 100%;
    transform: scale(0.9) translateY(40em);
  }
}

@keyframes blossom-three {
  from {
    left: 0px;
    transform: scale(0.8) translateX(-20em) translateY(20em);
  }
  to {
    left: 100%;
    transform: scale(0.8) translateY(46em);
  }
}

@keyframes blossom-four {
  from {
    left: 0px;
    transform: scale(0.8) translateX(-20em) translateY(23em);
  }
  to {
    left: 100%;
    transform: scale(0.8) translateY(57em);
  }
}

@keyframes blossom-five {
  from {
    left: 0px;
    transform: scale(0.7) translateX(-20em) translateY(31em);
  }
  to {
    left: 100%;
    transform: scale(0.7) translateY(68em);
  }
}

@keyframes blossom-six {
  from {
    left: 0px;
    transform: scale(0.6) translateX(-25em) translateY(33em);
  }
  to {
    left: 100%;
    transform: scale(0.6) translateY(64em);
  }
}

@keyframes blossom-seven {
  from {
    left: 0px;
    transform: scale(0.8) translateX(-25em) translateY(21em);
  }
  to {
    left: 100%;
    transform: scale(0.8) translateY(60em);
  }
}

@keyframes blossom-eight {
  from {
    left: 0px;
    transform: scale(0.9) translateX(-25em) translateY(0em);
  }
  to {
    left: 100%;
    transform: scale(0.9) translateY(29em);
  }
}

@keyframes blossom-nine {
  from {
    left: 0px;
    transform: translateX(-2em) translateY(-2em);
  }
  to {
    left: 100%;
    transform: translateY(13em);
  }
}

@keyframes blossom-ten {
  from {
    left: 0px;
    transform: translateX(-2em) translateY(-2em);
  }
  to {
    left: 100%;
    transform: translateY(13em);
  }
}
